<h1>This is the songs list</h1>
<button type="button" name="button"><%= link_to 'Add Song', new_path  %></button>

<% @songs.each do |song| %>
  <h2><%= link_to song.title, song_path(song) %></h2>
  <small><%= link_to 'Edit Song', edit_song_path(song) %></small>
  <small><%= link_to 'Delete',  song_path(song), method: :delete, data: {confirm: "Are you sure you want to do that?"} %></small>
<% end %>
